
.menu-icon {
  width: 25px;
  height: 25px;
}

.link {
  color: unset;
  text-decoration: none;
}

[data-radix-popper-content-wrapper] {
  background-color: white;
  border-radius: 8px;
  width: 10rem;
  box-sizing: border-box;
  cursor: pointer;
}

[data-radix-collection-item] {
  cursor: pointer;
  &:hover {
    background: #ECEFF1;
    color: #121212;
  }
}