

.product-card {
  
  .product-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 140px;
    background-color: var(--gray-5);
  }
  
  .product_name, .product_price {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  
  .product_description {
    font-weight: 400;
    font-size: 14px;
  }
  
  .product_price {
    color: red;
  }
  
  .add_to_cart {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    color: black;
  }

}